.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -8rem;
    background: var(--bg-color);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, 0.3);
    padding: 3rem 2rem;
}
.book-form form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.book-form form .input-group{
    flex: 1 1 25rem;
}
.input-group span {
    font-size: 1.4rem;
    color: var(--light-color);
}
.input-group label {
    font-size: 1.4rem;
    color: var(--light-color);
}
.input-group input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: var(--custom-border);
    font-size: 1.6rem;
    color: var(--light-color);
    background: none;
    margin-top: 1rem;
}
.input-group input:focus {
    outline: 0;
}
.book-form form .book-btn {
    flex: 1 1 15rem;
}